PORT=3000
DATABASE_URL=postgres://user:password@host:5432/database?sslmode=disable
MSGING_URL=https://example.http.msging.net/messages
AUTH_KEY_SMS=Key replace_me
AUTH_KEY_51981091766=Key replace_me
AUTH_KEY_51981095827=Key replace_me
AUTH_KEY_51981028528=Key replace_me
MSGING_COMMANDS_URL=https://example.http.msging.net/commands
REQUEST_TIMEOUT_MS=8000
API_TOKEN=replace_me
